.center-position {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
}
.lora-bold {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #241c18;
}
.lora-regular {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  color: #241c18;
}
.lora-italic {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #241c18;
}
.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #241c18;
  font-size: 20px;
}
.oswald-regular {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #241c18;
  font-size: 24px;
}
.oswald-regular_button {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
}
.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 980px) {
  .common_media-band-player-album {
    float: none;
    width: 55%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 760px) {
  .common_media-band-player-album {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 560px) {
  .common_media-band-player-album {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
}
@media (max-width: 440px) {
  .common_media-band-player-album {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
  .common_media-band-player-album .album-name {
    font-size: 16px;
  }
  .common_media-band-player-album .album-name:before {
    top: 8px;
    right: -12px;
  }
  .common_media-band-player-album .album-year {
    padding-left: 36px;
    font-size: 16px;
  }
  .common_media-band-player-album .listen,
  .common_media-band-player-album .buy {
    margin: 2px 2px 0 12px;
  }
  .common_media-band-player-album .tracker {
    width: 90%;
  }
}
@media (max-width: 370px) {
  .common_media-band-player-album .dots {
    display: none;
  }
  .common_media-band-player-album .controls {
    left: 36px;
  }
  .common_media-band-player-album .tracker {
    width: 90%;
  }
}
@media (max-width: 973px) {
  .concert-slider-controls.left {
    left: 13.5%;
  }
  .concert-slider-controls.right {
    right: 13.5%;
  }
}
@media (max-width: 846px) {
  .concert-slider-controls.left {
    left: 10.5%;
  }
  .concert-slider-controls.right {
    right: 10.5%;
  }
}
@media (max-width: 750px) {
  .concert-slider-controls.left {
    left: 5.5%;
  }
  .concert-slider-controls.right {
    right: 5.5%;
  }
}
@media (max-width: 680px) {
  .concert-slider-controls.left {
    left: 0;
  }
  .concert-slider-controls.right {
    right: 0;
  }
}
@media (max-width: 648px) {
  .concert-slider-controls.left,
  .concert-slider-controls.right {
    display: none;
  }
}
.band-concert_wrap {
  background: #f1eeed;
  width: 100%;
  overflow: hidden;
  /*******************************************************/
}
.band-concert_wrap .responsive-slider-concert {
  max-width: 1004px;
  margin: 0 auto;
  position: relative;
}
.band-concert_wrap .responsive-slider-concert [data-animate] {
  opacity: 1;
}
.band-concert_wrap .responsive-slider-concert h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #241c18;
  font-size: 24px;
  font-size: 25px;
  text-align: center;
  margin-top: 49px;
  margin-left: 18px;
}
.band-concert_wrap .responsive-slider-concert .slides {
  position: relative;
  overflow: hidden;
  height: 200px;
}
.band-concert_wrap .responsive-slider-concert .slides ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.band-concert_wrap .responsive-slider-concert .slides ul li {
  display: inline-block;
  height: 100%;
}
.band-concert_wrap .responsive-slider-concert .slider-control {
  position: absolute;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 31px 17px;
}
.band-concert_wrap .responsive-slider-concert .slider-control.left {
  left: 17.5%;
  top: 64%;
  background: url(../img/band_slider-arow.png) 0 0 no-repeat;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}
.band-concert_wrap .responsive-slider-concert .slider-control.left:hover {
  text-decoration: none;
  opacity: 0.5;
}
@media (max-width: 973px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.left.left {
    left: 13.5%;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.left.right {
    right: 13.5%;
  }
}
@media (max-width: 846px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.left.left {
    left: 10.5%;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.left.right {
    right: 10.5%;
  }
}
@media (max-width: 750px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.left.left {
    left: 5.5%;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.left.right {
    right: 5.5%;
  }
}
@media (max-width: 680px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.left.left {
    left: 0;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.left.right {
    right: 0;
  }
}
@media (max-width: 648px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.left.left,
  .band-concert_wrap .responsive-slider-concert .slider-control.left.right {
    display: none;
  }
}
.band-concert_wrap .responsive-slider-concert .slider-control.right {
  right: 17.5%;
  top: 64%;
  background: url(../img/band_slider-arow.png) 0 0 no-repeat;
  -webkit-transform: scale(-0.5, 0.5);
      -ms-transform: scale(-0.5, 0.5);
          transform: scale(-0.5, 0.5);
}
.band-concert_wrap .responsive-slider-concert .slider-control.right:hover {
  text-decoration: none;
  opacity: 0.5;
}
@media (max-width: 973px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.right.left {
    left: 13.5%;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.right.right {
    right: 13.5%;
  }
}
@media (max-width: 846px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.right.left {
    left: 10.5%;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.right.right {
    right: 10.5%;
  }
}
@media (max-width: 750px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.right.left {
    left: 5.5%;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.right.right {
    right: 5.5%;
  }
}
@media (max-width: 680px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.right.left {
    left: 0;
  }
  .band-concert_wrap .responsive-slider-concert .slider-control.right.right {
    right: 0;
  }
}
@media (max-width: 648px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.right.left,
  .band-concert_wrap .responsive-slider-concert .slider-control.right.right {
    display: none;
  }
}
@media (max-width: 480px) {
  .band-concert_wrap .responsive-slider-concert .slider-control.left,
  .band-concert_wrap .responsive-slider-concert .slider-control.right {
    display: none;
  }
}
.band-concert_wrap .responsive-slider-concert .pages {
  position: absolute;
  top: -12%;
  right: 34.8%;
  text-align: center;
  width: 300px;
  height: 220%;
  border-right: 1px solid #e7e0df;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.band-concert_wrap .responsive-slider-concert .pages .page {
  display: block;
  text-align: right;
  opacity: 0.3;
  margin: 3px -16px 12px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #241c18;
  font-size: 11px;
}
.band-concert_wrap .responsive-slider-concert .pages .page .date {
  padding-right: 32px;
}
.band-concert_wrap .responsive-slider-concert .pages .page span {
  display: block;
  width: 10px;
  height: 10px;
  float: right;
  border-radius: 50%;
  background: #826b60;
  margin: 0 10px;
}
.band-concert_wrap .responsive-slider-concert .pages .page.active span {
  background: #000;
}
.band-concert_wrap .responsive-slider-concert .pages .page.new {
  opacity: 1;
  color: #826b60;
}
.band-concert_wrap .responsive-slider-concert .pages .page.new.active {
  opacity: 1;
  color: #000;
  margin: 28px -16px 26px 0;
}
.band-concert_wrap .concert-calendar_wrap {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 114px;
}
.band-concert_wrap .concert-calendar_wrap section {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 85%;
  margin-left: 11.5%;
  height: 185px;
  /* Let's get this party started */
  /* Track */
  /* Handle */
}
.band-concert_wrap .concert-calendar_wrap section::-webkit-scrollbar {
  width: 10px;
}
.band-concert_wrap .concert-calendar_wrap section::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #eae5e3;
}
.band-concert_wrap .concert-calendar_wrap section::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #cbc2bd;
}
.band-concert_wrap .concert-calendar_wrap section::-webkit-scrollbar-thumb:window-inactive {
  background: #eae5e3;
}
.band-concert_wrap .concert-calendar_wrap section article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 70px;
}
.band-concert_wrap .concert-calendar_wrap section article .concert-date {
  width: 90px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
  font-size: 33px;
  overflow: hidden;
}
.band-concert_wrap .concert-calendar_wrap section article .concert-date span {
  width: 55%;
  display: block;
  float: right;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
  font-size: 15px;
  margin: 4px 0 0 0;
  line-height: 19px;
}
.band-concert_wrap .concert-calendar_wrap section article .concert-place {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 65%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #241c18;
  font-size: 20px;
}
.band-concert_wrap .concert-calendar_wrap section article button {
  cursor: pointer;
  height: 25px;
  margin: 0 5px 0 0;
  width: 80px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  color: #826b60;
  background: #e4dddb;
}
.band-concert_wrap .concert-calendar_wrap section article .buy.ticket {
  color: #f8f8f8;
  background: #826b60;
}
.band-concert_wrap .concert-calendar_wrap section article .buy.ticket:hover {
  color: #826b60;
  background: #e4dddb;
}
