.equalizer {
	display: none;
	width: 100%;
}
.eqWrap {
	overflow: hidden;
	float: left;
	//display:inline-block; 
	transform: rotate(180deg);
	//display:inline; 
	//zoom:1;
}
.eqCol {
	float: right;
	margin: 0 0 0 1px;
	width: 4px;
}
.eqItem {
	background: #cf0000;
	height: 3px;
	margin: 1px 0 0 0;
	opacity: 0;
	width: 100%;
}
.eqCol .eqItem:last-child {
	opacity: 1 !important;
}