.center-position {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
}
.lora-bold {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #241c18;
}
.lora-regular {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  color: #241c18;
}
.lora-italic {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #241c18;
}
.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #241c18;
  font-size: 20px;
}
.oswald-regular {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #241c18;
  font-size: 24px;
}
.oswald-regular_button {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
}
@media (max-width: 980px) {
  .common_media-band-player-album {
    float: none;
    width: 55%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 760px) {
  .common_media-band-player-album {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 560px) {
  .common_media-band-player-album {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
}
@media (max-width: 440px) {
  .common_media-band-player-album {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
  .common_media-band-player-album .album-name {
    font-size: 16px;
  }
  .common_media-band-player-album .album-name:before {
    top: 8px;
    right: -12px;
  }
  .common_media-band-player-album .album-year {
    padding-left: 36px;
    font-size: 16px;
  }
  .common_media-band-player-album .listen,
  .common_media-band-player-album .buy {
    margin: 2px 2px 0 12px;
  }
  .common_media-band-player-album .tracker {
    width: 90%;
  }
}
@media (max-width: 370px) {
  .common_media-band-player-album .dots {
    display: none;
  }
  .common_media-band-player-album .controls {
    left: 36px;
  }
  .common_media-band-player-album .tracker {
    width: 90%;
  }
}
@media (max-width: 973px) {
  .concert-slider-controls.left {
    left: 13.5%;
  }
  .concert-slider-controls.right {
    right: 13.5%;
  }
}
@media (max-width: 846px) {
  .concert-slider-controls.left {
    left: 10.5%;
  }
  .concert-slider-controls.right {
    right: 10.5%;
  }
}
@media (max-width: 750px) {
  .concert-slider-controls.left {
    left: 5.5%;
  }
  .concert-slider-controls.right {
    right: 5.5%;
  }
}
@media (max-width: 680px) {
  .concert-slider-controls.left {
    left: 0;
  }
  .concert-slider-controls.right {
    right: 0;
  }
}
@media (max-width: 648px) {
  .concert-slider-controls.left,
  .concert-slider-controls.right {
    display: none;
  }
}
.band_slider-wrap {
  background: #f2efed;
  width: 100%;
}
.band_slider-wrap .responsive-slider {
  max-width: 1004px;
  margin: 0 auto;
  position: relative;
}
.band_slider-wrap .responsive-slider [data-animate] {
  opacity: 0;
}
.band_slider-wrap .responsive-slider .slides {
  position: relative;
  overflow: hidden;
}
.band_slider-wrap .responsive-slider .slides ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.band_slider-wrap .responsive-slider .slides ul li {
  display: inline-block;
  width: 100%;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap {
  box-sizing: border-box;
  float: left;
  width: 51.5%;
  position: relative;
  padding-top: 7.5%;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap img {
  width: 100%;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap .artist_name-wrap {
  position: absolute;
  bottom: 9%;
  right: 9%;
  text-align: center;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap .artist_name-wrap span {
  color: #826b60;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
  text-transform: uppercase;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap .artist_name-wrap h2 {
  color: #241c18;
  margin-top: -25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
  text-transform: uppercase;
}
@media (max-width: 780px) {
  .band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap {
    width: 37%;
    margin: 0 0 0 140px;
  }
  .band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap .artist_name-wrap span {
    font-size: 35px;
    margin-right: 42%;
  }
  .band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_slide-wrap .artist_name-wrap h2 {
    font-size: 35px;
    margin-top: 0;
  }
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_text-wrap {
  box-sizing: border-box;
  float: right;
  width: 31%;
  text-align: center;
  padding-top: 36%;
  margin-right: 11.5%;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_text-wrap h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #241c18;
  font-size: 24px;
}
.band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_text-wrap p {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  color: #241c18;
  white-space: normal;
  text-align: left;
  line-height: 24px;
  padding-top: 10%;
}
@media (max-width: 780px) {
  .band_slider-wrap .responsive-slider .slides ul li .slide-body .artist_text-wrap {
    width: 100%;
    padding: 0 0 0 100px;
  }
}
.band_slider-wrap .responsive-slider .slider-control {
  position: absolute;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 31px 17px;
}
.band_slider-wrap .responsive-slider .slider-control.left {
  left: 0;
  top: 45%;
  background: url(../img/band_slider-arow.png) 0 0 no-repeat;
}
.band_slider-wrap .responsive-slider .slider-control.left:hover {
  text-decoration: none;
  opacity: 0.5;
}
.band_slider-wrap .responsive-slider .slider-control.right {
  right: 0;
  top: 45%;
  background: url(../img/band_slider-arow.png) 0 0 no-repeat;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.band_slider-wrap .responsive-slider .slider-control.right:hover {
  text-decoration: none;
  opacity: 0.5;
}
@media (max-width: 480px) {
  .band_slider-wrap .responsive-slider .slider-control.left,
  .band_slider-wrap .responsive-slider .slider-control.right {
    display: none;
  }
}
.band_slider-wrap .responsive-slider .pages {
  position: absolute;
  top: 29%;
  right: 11.5%;
  text-align: center;
  width: 30%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.band_slider-wrap .responsive-slider .pages .page:nth-child(1) {
  padding-left: 20px;
}
.band_slider-wrap .responsive-slider .pages .page:nth-child(2) {
  padding-left: 3px;
}
.band_slider-wrap .responsive-slider .pages .page:nth-child(3) {
  padding-left: 3px;
}
.band_slider-wrap .responsive-slider .pages .page:nth-child(4) {
  padding-left: 21px;
}
.band_slider-wrap .responsive-slider .pages .page:nth-child(5) {
  padding-left: 17px;
}
.band_slider-wrap .responsive-slider .pages .page {
  display: block;
  opacity: 0.3;
  margin: 0 auto;
  margin-bottom: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9px;
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #241c18;
}
.band_slider-wrap .responsive-slider .pages .page.active {
  opacity: 1;
  color: #826b60;
}
.band_slider-wrap .responsive-slider .pages .page span {
  padding: 0 5px;
  border-radius: 50%;
  background: #826b60;
  margin: 0 10px;
}
@media (max-width: 780px) {
  .band_slider-wrap .responsive-slider .pages {
    display: none;
  }
}
