.center-position {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
}
.lora-bold {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #241c18;
}
.lora-regular {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  color: #241c18;
}
.lora-italic {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #241c18;
}
.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #241c18;
  font-size: 20px;
}
.oswald-regular {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #241c18;
  font-size: 24px;
}
.oswald-regular_button {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
}
.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 980px) {
  .common_media-band-player-album {
    float: none;
    width: 55%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 760px) {
  .common_media-band-player-album {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 560px) {
  .common_media-band-player-album {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
}
@media (max-width: 440px) {
  .common_media-band-player-album {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
  .common_media-band-player-album .album-name {
    font-size: 16px;
  }
  .common_media-band-player-album .album-name:before {
    top: 8px;
    right: -12px;
  }
  .common_media-band-player-album .album-year {
    padding-left: 36px;
    font-size: 16px;
  }
  .common_media-band-player-album .listen,
  .common_media-band-player-album .buy {
    margin: 2px 2px 0 12px;
  }
  .common_media-band-player-album .tracker {
    width: 90%;
  }
}
@media (max-width: 370px) {
  .common_media-band-player-album .dots {
    display: none;
  }
  .common_media-band-player-album .controls {
    left: 36px;
  }
  .common_media-band-player-album .tracker {
    width: 90%;
  }
}
@media (max-width: 973px) {
  .concert-slider-controls.left {
    left: 13.5%;
  }
  .concert-slider-controls.right {
    right: 13.5%;
  }
}
@media (max-width: 846px) {
  .concert-slider-controls.left {
    left: 10.5%;
  }
  .concert-slider-controls.right {
    right: 10.5%;
  }
}
@media (max-width: 750px) {
  .concert-slider-controls.left {
    left: 5.5%;
  }
  .concert-slider-controls.right {
    right: 5.5%;
  }
}
@media (max-width: 680px) {
  .concert-slider-controls.left {
    left: 0;
  }
  .concert-slider-controls.right {
    right: 0;
  }
}
@media (max-width: 648px) {
  .concert-slider-controls.left,
  .concert-slider-controls.right {
    display: none;
  }
}
body {
  max-width: 1280px;
}
.header-inner {
  width: 100%;
  background-image: url(../img/header-bg-guitar.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
}
nav {
  width: 100%;
  margin-top: 48px;
}
nav li {
  display: inline-block;
  width: 56.2px;
  height: 36px;
  position: relative;
}
nav li:hover .equalizer {
  display: block;
}
nav li:last-child a:before {
  display: none;
}
nav li:last-child .equalizer.eqWrap {
  margin-left: 9px;
}
nav a {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #241c18;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 780px) {
  nav a {
    color: #fff;
  }
}
nav a:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 23%;
  left: 87%;
  background: #000;
  position: absolute;
}
@media (max-width: 980px) {
  nav {
    padding-left: 20px;
  }
}
@media (max-width: 380px) {
  nav {
    padding-left: 5px;
  }
}
.logo-wrap {
  background: url(../img/header-bg-words.png) 55% 0 no-repeat;
  float: right;
  width: 321px;
  text-align: center;
  box-sizing: border-box;
  padding: 10.5% 2.7% 19.6% 0;
  margin: 4.5% 1%;
}
.logo-wrap .link-logo {
  text-decoration: none;
  display: block;
}
.logo-wrap .link-logo:hover span {
  color: #241c18;
}
.logo-wrap .link-logo:hover h1 {
  color: #e4dddb;
}
.logo-wrap .link-logo span {
  color: #e4dddb;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
}
.logo-wrap .link-logo h1 {
  color: #241c18;
  margin-top: -25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
}
.band-music_wrap {
  width: 100%;
}
.band-music_wrap .band-music_inner {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
  overflow: visible;
}
.band-music_wrap .band-music_inner .band-album_wrap {
  float: left;
  width: 50%;
  padding-bottom: 6.5%;
}
@media (max-width: 980px) {
  .band-music_wrap .band-music_inner .band-album_wrap {
    float: none;
    width: 55%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 760px) {
  .band-music_wrap .band-music_inner .band-album_wrap {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 560px) {
  .band-music_wrap .band-music_inner .band-album_wrap {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
}
@media (max-width: 440px) {
  .band-music_wrap .band-music_inner .band-album_wrap {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
  .band-music_wrap .band-music_inner .band-album_wrap .album-name {
    font-size: 16px;
  }
  .band-music_wrap .band-music_inner .band-album_wrap .album-name:before {
    top: 8px;
    right: -12px;
  }
  .band-music_wrap .band-music_inner .band-album_wrap .album-year {
    padding-left: 36px;
    font-size: 16px;
  }
  .band-music_wrap .band-music_inner .band-album_wrap .listen,
  .band-music_wrap .band-music_inner .band-album_wrap .buy {
    margin: 2px 2px 0 12px;
  }
  .band-music_wrap .band-music_inner .band-album_wrap .tracker {
    width: 90%;
  }
}
@media (max-width: 370px) {
  .band-music_wrap .band-music_inner .band-album_wrap .dots {
    display: none;
  }
  .band-music_wrap .band-music_inner .band-album_wrap .controls {
    left: 36px;
  }
  .band-music_wrap .band-music_inner .band-album_wrap .tracker {
    width: 90%;
  }
}
.band-music_wrap .band-music_inner .band-player_wrap {
  float: left;
  width: 42.5%;
  padding-left: 73px;
  padding-bottom: 6.5%;
}
@media (max-width: 980px) {
  .band-music_wrap .band-music_inner .band-player_wrap {
    float: none;
    width: 55%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 760px) {
  .band-music_wrap .band-music_inner .band-player_wrap {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 560px) {
  .band-music_wrap .band-music_inner .band-player_wrap {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
}
@media (max-width: 440px) {
  .band-music_wrap .band-music_inner .band-player_wrap {
    float: none;
    width: 98%;
    padding: 0 5px;
  }
  .band-music_wrap .band-music_inner .band-player_wrap .album-name {
    font-size: 16px;
  }
  .band-music_wrap .band-music_inner .band-player_wrap .album-name:before {
    top: 8px;
    right: -12px;
  }
  .band-music_wrap .band-music_inner .band-player_wrap .album-year {
    padding-left: 36px;
    font-size: 16px;
  }
  .band-music_wrap .band-music_inner .band-player_wrap .listen,
  .band-music_wrap .band-music_inner .band-player_wrap .buy {
    margin: 2px 2px 0 12px;
  }
  .band-music_wrap .band-music_inner .band-player_wrap .tracker {
    width: 90%;
  }
}
@media (max-width: 370px) {
  .band-music_wrap .band-music_inner .band-player_wrap .dots {
    display: none;
  }
  .band-music_wrap .band-music_inner .band-player_wrap .controls {
    left: 36px;
  }
  .band-music_wrap .band-music_inner .band-player_wrap .tracker {
    width: 90%;
  }
}
.band-album_wrap figure img {
  margin: 65px -58px -37px;
}
@media (max-width: 560px) {
  .band-album_wrap figure img {
    width: 77%;
    margin: 25px 0 -28px;
  }
}
.band-album_wrap section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 68px;
  margin-left: -1px;
}
.band-album_wrap section h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #241c18;
  font-size: 24px;
  padding-bottom: 25px;
}
.band-album_wrap section article {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #241c18;
  font-size: 20px;
  padding: 0px 0px 17px 1px;
}
.band-album_wrap section article div,
.band-album_wrap section article button {
  float: left;
}
.band-album_wrap section article .album-name {
  width: 35%;
  position: relative;
}
.band-album_wrap section article .album-name:before {
  content: '';
  position: absolute;
  top: 12px;
  right: -21px;
  background: #e4dddb;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.band-album_wrap section article .album-year {
  padding-left: 47px;
}
.band-album_wrap section article button {
  cursor: pointer;
  width: 54px;
  height: 25px;
  margin: 2px -25px 0 45px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  color: #826b60;
  background: #e4dddb;
}
.band-album_wrap section article .listen:hover {
  color: #f8f8f8;
  background: #826b60;
}
.band-album_wrap section article .buy {
  color: #f8f8f8;
  background: #826b60;
}
.band-album_wrap section article .buy:hover {
  color: #826b60;
  background: #e4dddb;
}
footer {
  width: 100%;
  background-image: url(../img/footer-bg-guitars.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-inner {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding-top: 8%;
}
footer .footer-inner span {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
  font-size: 54px;
  padding-left: 18px;
  letter-spacing: 3px;
}
@media (max-width: 470px) {
  footer .footer-inner span {
    font-size: 34px;
  }
}
footer .footer-inner h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
  font-size: 48.5px;
  color: #e4dddb;
  margin: -13px 0 0 19px;
  letter-spacing: 2.5px;
}
@media (max-width: 470px) {
  footer .footer-inner h2 {
    font-size: 25px;
  }
}
footer .footer-inner form {
  overflow: hidden;
  margin: 3.5% 0 26.2% 26.5%;
  padding-top: 6px;
}
footer .footer-inner form label {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 67px;
  font-size: 24px;
  color: #e4dddb;
  background: #241c18;
  text-transform: uppercase;
  padding: 0px 23px;
  float: left;
}
@media (max-width: 560px) {
  footer .footer-inner form label {
    display: none;
  }
}
footer .footer-inner form button {
  display: none;
}
footer .footer-inner form button:hover {
  color: #826b60;
  background: #e4dddb;
}
@media (max-width: 560px) {
  footer .footer-inner form button {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 67px;
    font-size: 24px;
    color: #e4dddb;
    background: #241c18;
    text-transform: uppercase;
    padding: 0px 23px;
    float: left;
    border: none;
    margin-right: 5px;
  }
}
footer .footer-inner form input {
  float: left;
  margin-right: 5.5%;
  border: 4px solid #241c18;
  height: 28px;
  width: 25.5%;
  background: transparent;
  padding: 0 0 0 8px;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #241c18;
  font-size: 17px;
}
@media (max-width: 560px) {
  footer .footer-inner form input {
    display: none;
  }
}
footer .footer-inner form a {
  float: left;
  margin: -4px 3% 0 0;
}
footer .footer-inner form a:hover {
  transform: scale(0.7, 0.7);
  transform: rotate(180deg);
}
@media (max-width: 560px) {
  footer .footer-inner form {
    margin-left: 14%;
    margin: 3.5% 0 10.2% 26.5%;
  }
}
footer .footer-inner p {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #241c18;
  font-size: 12px;
  float: left;
  color: #e4dddb;
  text-transform: uppercase;
  margin-left: 8px;
}
footer .footer-inner .footer-nav-wrap {
  float: right;
  margin: -50px 3px 30px 0;
}
footer .footer-inner .footer-nav-wrap .footer-navigation {
  padding: 0;
}
footer .footer-inner .footer-nav-wrap .footer-navigation a {
  color: #e4dddb;
}
footer .footer-inner .footer-nav-wrap .footer-navigation a:before {
  top: 21%;
  left: 96%;
}
footer .footer-inner .footer-nav-wrap .footer-navigation .equalizer.footer {
  margin: 0 0 0 10px;
}
@media (max-width: 560px) {
  footer .footer-inner .footer-nav-wrap {
    float: none;
    margin: -36px 0 15px 0;
  }
}
