@import url('variables.less');

.band-concert_wrap {
  background: #f1eeed;
  width: 100%;
  overflow: hidden;

  .responsive-slider-concert {
    max-width: 1004px;
    margin: 0 auto;
    position: relative;

    [data-animate] {
      opacity: 1;
    }

    h2 {
      .oswald-regular;
      font-size: 25px;
      text-align: center;
      margin-top: 49px;
      margin-left: 18px;
    }
    
    .slides {
      position: relative;
      overflow: hidden;
      height: 200px;
      
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;

        li {
          display: inline-block;
          height: 100%;
        }
      }
    }

    .slider-control {
      position: absolute;
      top: 40%;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 31px 17px;
      
      
      &.left {
        left: 17.5%;
        top: 64%;
        background: url(../img/band_slider-arow.png) 0 0 no-repeat;
        transform: scale(0.5,0.5);
        
        &:hover {
          text-decoration: none;
          opacity: 0.5;
        }
        .concert-slider-controls;

      }
      
      &.right {
        right: 17.5%;
        top: 64%;
        background: url(../img/band_slider-arow.png) 0 0 no-repeat;
        transform: scale(-0.5,0.5);        
        
        &:hover {
          text-decoration: none;
           opacity: 0.5;
        }
        .concert-slider-controls;
      }

      @media (max-width: 480px) {
        &.left, &.right {
          display: none;
        }
      }
    }
    
    .pages {
      position: absolute;
      top: -12%;
      right: 34.8%;
      text-align: center;
      width: 300px;
      height: 220%;
      border-right: 1px solid #e7e0df;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);

      .page {
        display: block;
        text-align: right;
        opacity: 0.3;
        margin: 3px -16px 12px 0;
        text-decoration: none;
        text-transform: uppercase;
        .lora-bold;
        font-size: 11px;

        .date {
          padding-right: 32px;
        }
         
        span {
          display: block;
          width: 10px;
          height: 10px;
          float: right;
          border-radius: 50%;
          background: #826b60;
          margin: 0 10px;
        }

        &.active span {
          background: #000;
        }
      }

      .page.new {
        opacity: 1;
        color: #826b60;
      
        &.active {
          opacity: 1;
          color: #000;
          margin: 28px -16px 26px 0;
        }
      }
    }
  }
  /*******************************************************/
  .concert-calendar_wrap {
    max-width: 1004px;
    margin: 0 auto; 
    overflow: hidden;
    padding-top: 114px;
  
    section {
      overflow-y: scroll;
      overflow-x: hidden;
      width: 85%;
      margin-left: 11.5%;
      height: 185px;
   
      /* Let's get this party started */
      &::-webkit-scrollbar {
          width: 10px;
      }
       
      /* Track */
      &::-webkit-scrollbar-track {
          //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
          -webkit-border-radius: 0px;
          border-radius: 0px;
          background: rgba(234,229,227,1); 
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 0px;
          border-radius: 0px;
          background: rgba(203,194,189,1); 
          //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      }
      &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(234,229,227,1); 
      }

      article {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;

        height: 70px;

        .concert-date {
          width: 90px;
          .oswald-bold;
          font-size: 33px;
          overflow: hidden;

          span {
            width: 55%;
            display: block;
            float: right;
            .oswald-bold;
            font-size: 15px;
            margin: 4px 0 0 0;
            line-height: 19px;
          }
        }

        .concert-place {
          .flex-grow;
          width: 65%;
          .oswald-light ;
        }

        button {
          cursor: pointer;
          height: 25px;
          margin: 0 5px 0 0;
          width: 80px;
          .oswald-regular_button;
          border: none;
          color: @active-text-color;
          background: #e4dddb;
        }

       .buy.ticket {
          color: #f8f8f8;
          background: @active-text-color;

          &:hover {
            color: @active-text-color;
            background: #e4dddb;
          }
        }
      }
    }
  }
}