@import url('variables.less');


body {
  max-width: 1280px;
}

.header-inner {
  width: 100%;
  background-image: url(../img/header-bg-guitar.jpg);
  background-position: center center;
  background-size: cover;  
  background-repeat: no-repeat; 
}

header {
  .center-position;
}

nav {
  width: 100%;
  margin-top: 48px;

  li {
    display: inline-block;
    width: 56.2px;
    height: 36px;
    position: relative;

    &:hover .equalizer {
      display: block;
    }
  }

  li:last-child {

    a:before {
      display: none;
    }

    .equalizer.eqWrap {
      margin-left: 9px;
    }
  }
  
  a {
    .lora-bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    
    @media (max-width: 780px) {
      color: #fff;
    }
  }

  a:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 23%;
    left: 87%;
    background: #000;
    position: absolute;
  }

  @media (max-width: 980px) {
    padding-left: 20px;
  }

  @media (max-width: 380px) {
    padding-left: 5px;
  }
}

.logo-wrap {
  background: url(../img/header-bg-words.png) 55% 0 no-repeat;
  float: right;
  width: 321px;
  text-align: center;
  box-sizing: border-box;
  padding: 10.5% 2.7% 19.6% 0;
  margin: 4.5% 1%;
  
  .link-logo {
    text-decoration: none;
    display: block;

    &:hover {
      
      span{
        color: #241c18;
      }

      h1 {
        color: #e4dddb;
      }
    }

    span {
      color: #e4dddb;
      .oswald-bold;
    }

    h1 {
      color: #241c18;
      margin-top: -25px;
      .oswald-bold;
    }
  }
}

.band-music_wrap {
  width: 100%;

  .band-music_inner {
    .center-position;
    overflow: visible;

    .band-album_wrap {
      float: left;
      width: 50%;
      padding-bottom: 6.5%;
      .common_media-band-player-album;
    }

    .band-player_wrap {
      float: left;
      width: 42.5%;
      padding-left: 73px;
      padding-bottom: 6.5%;
      .common_media-band-player-album;
    }
  }
}
.band-album_wrap {
  figure {
    img {
      margin: 65px -58px -37px;

      @media (max-width: 560px) {
        width: 77%;
        margin: 25px 0 -28px;
      }
    }
  }

  section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    padding-top: 68px;
    margin-left: -1px;
    
    h3 {
      .oswald-regular;
      padding-bottom: 25px;
    }

    article {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
   
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;

      overflow: hidden;
      .oswald-light;
      padding: 0px 0px 17px 1px;

      div,
      button {
        float: left;
      }

      .album-name {
        width: 35%;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 12px;
          right: -21px;
          background: #e4dddb;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }

      .album-year {
        padding-left: 47px;
      }
      button {
        cursor: pointer;
        width: 54px;
        height: 25px;
        margin: 2px -25px 0 45px;
        .oswald-regular_button;
        border: none;
        color: @active-text-color;
        background: #e4dddb;
      }

      .listen:hover {
        color: #f8f8f8;
        background: @active-text-color;
      }

      .buy {
        color: #f8f8f8;
        background: @active-text-color;

        &:hover {
          color: @active-text-color;
          background: #e4dddb;
        }
      }
    }
  }
}

