@import url('variables.less');


body {
  max-width: 1280px;
}

.header-inner {
  width: 100%;
  background-image: url(../img/header-bg-guitar.jpg);
  background-position: center center;
  background-size: cover;  
  background-repeat: no-repeat; 
}

header {
  max-width: 1004px;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  width: 100%;
  margin-top: 48px;

  li {
    display: inline-block;
    width: 56.2px;
    height: 36px;
    position: relative;

    &:hover .equalizer {
      display: block;
    }
  }

  li:last-child {

    a:before {
      display: none;
    }

    .equalizer.eqWrap {
      margin-left: 9px;
    }
  }
  
  a {
    .lora-bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 23%;
    left: 87%;
    background: #000;
    position: absolute;
  }
}

.logo-wrap {
  background: url(../img/header-bg-words.png) 55% 0 no-repeat;
  float: right;
  width: 321px;
  text-align: center;
  box-sizing: border-box;
  padding: 10.5% 2.7% 19.6% 0;
  margin: 4.5% 1%;
  
  .link-logo {
    text-decoration: none;
    display: block;

    &:hover {
      
      span{
        color: #241c18;
      }

      h1 {
        color: #e4dddb;
      }
    }

    span {
      color: #e4dddb;
      .oswald-bold
    }

    h1 {
      color: #241c18;
      margin-top: -25px;
      .oswald-bold
    }
  }
}
