

header {
  max-width: 1004px;
  margin: 0 auto;
}

nav {
  width: 100%;
  
    ul {
      list-style: disc;
      
      li:nth-child(1) {
        list-style: none;
      } 

  li {
    display: inline-block;
        width: 4.6%;
        height: 36px;

        &:hover .equalizer {
        display: block;
        }
      }
    }
  }
}